.main {

  height: 100vh;
  width : 50%; 
  margin: auto;
  vertical-align: middle;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media (max-width: 992px) {
  .main {
    width : 90%;
  }
}