.date {
  font-size: 14px;
  color: #a9a9b0;
  margin-top: 3px;
}

.messageText {
    background-color: rgb(169, 169, 176, 0.4);
    margin: 5px 0 0 0;
    color: white;
    padding: 20px 30px;
    max-width: 300px;
	border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.deletedText {
    margin: 5px 0 0 0;
    color: white;
    padding: 20px 30px;
    max-width: 300px;
	border-radius: 1rem;
    border : 1px solid rgb(212, 209, 209);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.editMessageInput {
    background-color:  rgb(169, 169, 176, 0.4);
    margin: 5px 0 0 0;
    color: white;
    padding: 20px 30px;
    max-width: 300px;
	border-radius: 1rem;
    border: none;
    text-align: left;
    font-size: 16px;
}

.author{
    opacity: 0.8;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

